<!DOCTYPE html>
<html lang="en-US">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<title>WI Candidates</title>
	</head>
<body>
	<div class="jumbotron text-center">
  		<h1>Candidates</h1>
	</div>
    <div class="container">
        <div class="dropdown">
	        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Filter<span class="glyphicon glyphicon-filter"></span>
	            <span class="caret"></span>
            </button>
	        <ul class="dropdown-menu">
	            <li><a href="http://localhost:8000/jobs?status=2">Hired</a></li>
	            <li><a href="http://localhost:8000/jobs?status=1">Shortlisted</a></li>
	            <li><a href="http://localhost:8000/jobs?status=3">Rejected</a></li>
                <li><a href="http://localhost:8000/jobs?status=0">Not Seen</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:8000/jobs">Clear</a></li>
	        </ul>
        </div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 table-responsive">
				<table class="table">
					{% for job in job_list %}
					<tr>
						<td>
							<table class="table">
								<tr>
									<td>ID</td>
									<td>{{ job.candidate.id }}</td>
								</tr>
								<tr>
									<td>Name</td>
									<td>{{ job.candidate.name }}</td>
								</tr>
								<tr>
									<td>Experience</td>
									<td>
                                        {% for st in job.candidate.EXPERIENCE_CHOICES %}
                                            {% if st.0 == job.candidate.experience %} {{ st.1 }} {% endif %}
                                        {% endfor %}
                                    </td>
								</tr>
								<tr>
									<td>Location</td>
									<td>{{ job.candidate.location }}</td>
								</tr>
								<tr>
									<td colspan="2">
                                        <select id="{{ job.id }}" onchange="patchChange({{ job.id }})">
                                            {% for st in job.STATUS_CHOICES %}
                                            <option value="{{ st.0 }}" {% if st.0 == job.status %} selected="selected" {% endif %}>
                                            {{ st.1 }}
                                            </option>
                                            {% endfor %}
                                        </select>
									</td>
								</tr>
							</table>
						</td>
					</tr>
                    {% endfor %}
				</table>
			</div>
  		</div>
	</div>
    <script>
        function patchChange(id) {
            var state = document.getElementById(id).value;
            var request = new XMLHttpRequest();
            request.open('PATCH', 'http://127.0.0.1:8000/jobs/'+id, false);
            request.setRequestHeader("Content-type","application/json");
            request.send('{"status": "'+state+'"}');
        }
    </script>
</body>
</html>